@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

@function pow($x, $p) {
    $return: 1.0;

    @if ($p == 0) {
        $return: 1;
    } @else if ($p > 0) {
        @for $i from 0 through ($p - 1) {
            $return: $return * strip_units($x)
        }
    } @else {
        @for $i from 0 through ((-1 * $p) - 1) {
            $return: $return / strip-units($x);
        }
    }

    @if (not unitless($x)) {
        $return: $return * 1.0 + unit($x);
    }

    @return $return;
}

@function abs($x)
{
    @if ($x < 0) {
        @return -1 * $x;
    } @else {
        @return $x;
    }
}

@function max($numbers...)
{
    $max: null;
    @each $number in $numbers {
        @if ($max == null or $number > $max) {
            $max: $number;
        }
    }

    @return $max;
}

@function min($numbers...)
{
    $min: null;
    @each $number in $numbers {
        @if ($min == null or $number < $min) {
            $min: $number;
        }
    }

    @return $min;
}